.idea
.bundle
.DS_Store
db/*.sqlite3
log/*.log
log/*.log.lck
log/*.log*
log/*.log.lck*
tmp/
.sass-cache
*.pid
solr
solr/data/*
solr/pids/development/sunspot-solr-development.pid
public/uploads
lib/crawl_scripts/*.csv