<div class="various fancybox.iframe">

  <video width="600" height="400" src="<%= target_video_path %>" autobuffer="" controls=""
         poster="https://rewind-prod.s3.amazonaws.com/uploads/video/video_file/223/thumb_1378354108.png"></video>
</div>

